/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
  box-sizing: border-box;
  font-size: 20px;
}

body {
	font-family: sans-serif;
	font-family: 'Lato', sans-serif;
}

h1 {
	font-size: 60px;
	line-height: 76px;
	font-family: 'Lobster', cursive;
	letter-spacing: .1em;
	margin: 0 auto 4vh;
}

h2 {
	font-size: 42px;
	line-height: 48px;
	text-transform: uppercase;
	font-weight: 900;
	margin: 0 auto 8vh;
}

h3 {
	font-size: 32px;
	border-bottom: 2px solid #505F90;
  padding: 15px;
  margin: 3vh auto;
  text-transform: uppercase;
  line-height: 40px;
}

.intro-container {
	display: flex;
	flex-direction: column;
}

.how-it-works-wrapper {
	padding: 12vh 10vw;
	font-size: 28px;
	color: #07123A;
	background: #beccfac2;
	min-height: 100vh;
}

.search-wrapper {
	padding: 12vh 0;
	color: #fff;
	background: #07123A;
	text-align: center;
	min-height: 100vh;
}

.how-it-works-wrapper p {
	line-height: 40px;
}

.blue {
	color: #2F3F73
}

.light-blue {
	color: #505F90
}

.darkest-blue {
	color: #07123A
}

form {
	width: 100%;
	margin: 3vh auto;
	text-align: center;
}

iframe {
	height: 170px;
	width: 300px;
}

.input-wrapper,
button {
	margin: 3vh auto;
}

button {
	cursor: pointer;
	background: #fff;
	padding: 10px 25px;
	border: 3px solid #aebef0;
	color: #07123A;
	text-transform: uppercase;
	transition: 300ms all;
}

button:hover,
button:active,
button:focus {
	background: #505F90;
	color: #fff;
	padding: 10px 35px;
	transition: 300ms all;
}

.input-wrapper label {
	display: block;
	font-size: 20px;
	padding: 10px 0;
}

.results {
	display: none;
	margin: 0 auto;
	text-align: center;
	background: #2F3F73;
	color: #fff;
}

.video-container {
	margin: 5vh 0;
}

.lists-wrapper {
	display: flex;
	flex-direction: column;
	margin: 5vh 0;
}

.results-list {
	padding: 20px;
}

.results-list a {
	display: block;
	color: #fff;
	font-size: 24px;
	text-decoration: none;
	margin: 10px 0;
	letter-spacing: .05em;
}

.results-list a:hover,
.results-list a:active,
.results-list a:focus {
	color: #7A86AD;
}

.results-list img {
	padding: 25px;
	width: 300px;
}

#article-list {
	text-align: left;
}

#article-list li {
	border-bottom: 1px dotted #fff;
	padding-bottom: 25px;
	line-height: 26px;
}

#edamam-badge {
	margin: 20px auto;
}

.kicker {
	font-size: 1.1em;
	padding: 5px 0;
}

.byline {
	font-weight: 300;
}

@media screen and (min-width: 400px) {
	h1 {
		font-size: 90px;
	}

	iframe {
		height: 200px;
		width: 380px;
	}
}

@media screen and (min-width: 600px) {
	.results {
		padding: 20px;
	}

	iframe {
		height: 380px;
		width: 460px;
	}

	.results-list img {
		width: 400px;
	}
}

@media screen and (min-width: 850px) {
	.intro-container,
	.lists-wrapper {
		flex-direction: row;
	}

	.results-list.recipes {
		width: 50%;
	}

	.results-list.articles {
		text-align: left;
		width: 55%;
	}

	iframe {
		height: 360px;
		width: 640px;
	}

	.search-wrapper,
	.how-it-works-wrapper {
		width: 50%;
	}

}
